.tabs-top > .tabs, .tabs.tabs-top {
    top: 0 !important;
}

.has-tabs-top {
    top: 54px !important;
}
.tab-content {
    top: 54px;
}
.main_logo{
    font-size:220px; 
    display: flex;
    justify-content: center;
}