	
<ion-view>
<ion-content padding="false" scrollbar-x="false" scrollbar-y="false">
<div class="row">
  <div class="col"><h2>Equation</h2></div>
  <div class="col"><h2>Score 1 : 0<h2></div>
</div>
<div id="output" class="row">  
  <h1 class="col" ng-model="input">{{input}}</h1>
</div>

<div class="row">
  <button class="button col mygrid" ng-click="write('7')">7</button>
  <button class="button col mygrid" ng-click="write('8')">8</button>
  <button class="button col mygrid" ng-click="write('9')">9</button>
 
</div>
<div class="row">
  <button class="button col mygrid" ng-click="write('4')">4</button>
  <button class="button col mygrid" ng-click="write('5')">5</button>
  <button class="button col mygrid" ng-click="write('6')">6</button>
</div>
<div class="row">
  <button class="button col mygrid" ng-click="write('1')">1</button>
  <button class="button col mygrid" ng-click="write('2')">2</button>
  <button class="button col mygrid" ng-click="write('3')">3</button>
</div>
<div class="row">
  <button class="button col mygrid" ng-click="write('0')">0</button>  
  <button class="button col mygrid" ng-click="write('.')">.</button>
  <button class="button col mygrid" ng-click="write('-')">-</button>
</div>
<div class="row">
  <button class="button col mygrid" ng-click="reset()">Reset</button> 
  <button class="button col mygrid operator" ng-click="calculate()">Send</button>
</div>
</ion-content>
</ion-view>